.jumboWrapper {
  min-height: 700px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumboWrapper::before {
  min-height: 700px;
  width: 100%;
  content: "";
  position: absolute;
  backdrop-filter: blur(5px) brightness(0.5);
}

.jumboContent {
  z-index: 1;
  height: inherit;
  width: inherit;
  opacity: 1;
  margin-top: 0;
  transition: opacity 0.5s, margin-top .75s;
  transition-timing-function: ease-out;
}

.jumboContent h1 {
  font-family: josefin-sans,sans-serif;
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;
}
