.jumbo-wrapper {
  height: 700px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbo-image::before {
  min-height: 700px;
  width: 100%;
  content: "";
  position: absolute;
}

.blur::before {
  backdrop-filter: blur(5px) brightness(0.5);
}

.contrast::before {
  backdrop-filter: contrast(125%) brightness(0.5);
}

.jumbo-content {
  z-index: 1;
  height: inherit;
  width: inherit;
}

.jumbo-content h1 {
  font-size: 60px;
  text-transform: uppercase;
}

.side-image {
  height: 100%;
  position: relative;
}

.side-image img {
  position: absolute;
  bottom: 0;
  max-width: 100%;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.half-height {
  margin-top: 25%;
}

@media only screen and (max-width: 600px) {
  .jumbo-content h1 {
    font-size: 40px;
  }

  .side-image {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .jumbo-content h1 {
    font-size: 30px;
  }
}
