.jumboWrapper {
  height: 700px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumboImage::before {
  min-height: 700px;
  width: 100%;
  content: "";
  position: absolute;
  backdrop-filter: blur(5px) brightness(0.5);
}

.jumboContent {
  z-index: 1;
  height: inherit;
  width: inherit;
}

.jumboContent h1 {
  font-size: 60px;
  text-transform: uppercase;
}

.fullWidth {
  width: 100%;
}
